header >div> img{
    margin: 0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.container-foto-ranking{
    display: flex;
    align-items: center;
}
.nivel{
    font-size: 14px;
}
#name-perfil>p{
    color: #1a253c;
    margin: 0px;
    font-weight: bolder;
}
.name{
    font-size: 18px;
}
header{
    font-family: monospace;
    justify-content: space-around;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 3px;
}
#ranking-perfil{
    font-size: 13px;
    font-weight: bolder;
    padding-left: 3px;
}
#ranking-perfil>p{
    margin: 7px;
    color: #1a253c;
}
#ranking-perfil>p>i{
    font-size: 11px;
    color: #1a253c !important;
}
body{
    margin: 0px !important;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -250px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.76); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #1a253c;
    margin: 10% auto;
    padding: 20px;
    border: 0px;
    width: 90%;
    color: white;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
strong{
    font-size: 23px;
    font-family: sans-serif;
}
li{
    font-family: sans-serif;
    font-size: 18px;
    margin: 10px;
}
.frase{
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 0 30px 0 10px;
}
.btn{
    border-radius: 15px !important;
    border: 2px solid #ffe05f;
    color: #ffe05f;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-left: 20%;
    margin-bottom: 10px;
    display: inline-block;
}
